#sending/owner email config
NODEMAILER_EMAIL=
NODEMAILER_PASS=
NODEMAILER_SENDERNAME=
NODEMAILER_SMTP_DOMAIN=smtp.gmail.com
NODEMAILER_SMTP_PORT=
NODEMAILER_SECURE=
#DB designations
POSTGRESQL_HOST=
POSTGRESQL_PORT=
POSTGRESQL_USER=
POSTGRESQL_DATABASE=
POSTGRESQL_PASSWORD=
POSTGRESQL_TYPES=
POSTGRESQL_EXTRA_FLOAT_DIGITS=
POSTGRESQL_KEEP_ALIVE=
POSTGRESQL_PREPAIRED_STATEMENT_PREFIX=