#sending/owner email config
NODEMAILER_EMAIL=
NODEMAILER_PASS=
NODEMAILER_SENDERNAME=
NODEMAILER_SMTP_DOMAIN=smtp.gmail.com
NODEMAILER_SMTP_PORT=
NODEMAILER_SECURE=
#DB designations
POSTGRESQL_HOST=
POSTGRESQL_PORT=
POSTGRESQL_USER=
POSTGRESQL_DATABASE=
POSTGRESQL_PASSWORD=
POSTGRESQL_TYPES=
POSTGRESQL_EXTRA_FLOAT_DIGITS=
POSTGRESQL_KEEP_ALIVE=
POSTGRESQL_PREPAIRED_STATEMENT_PREFIX=
#mail list (temporary)
TOTAL_RECIEVERS=
RECIEVER_1=
RECIEVER_2=
RECIEVER_3=
RECIEVER_4=
RECIEVER_5=
RECIEVER_6=
RECIEVER_7=
RECIEVER_8=